html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;

    /* Margin bottom by footer height */
    margin-bottom: 40px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-brand{
    color: white !important;
}

.navbar-brand:hover {
    color: #999 !important;
}

.footer {
  position: absolute;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 40px;
}

input[type="number"] {
    max-width: 75px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

#commandRow {
    margin-top:20px;
}

#dataRow {
    margin-top:20px;
}

.movieDataControls {
    a {
        color: black;
    }

    a:hover {
        color: gray;
        text-decoration: none;
    }
}